03_Nodered_Smart_Home/.node-red/flows.json
[
    {
        "id": "71e37dc1588a7bfb",
        "type": "tab",
        "label": "Smart Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "90f5876fe19c0b3b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a32e3e9debc01e84",
        "type": "ui_tab",
        "name": "Smart Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6acf34f9b48857d0",
        "type": "ui_group",
        "name": "LED Switch",
        "tab": "a32e3e9debc01e84",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b944e79875142268",
        "type": "mqtt-broker",
        "name": "mqttgo.io",
        "broker": "mqttgo.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "518e70a6927e9a7a",
        "type": "ui_group",
        "name": "Temperature & Humidity",
        "tab": "a32e3e9debc01e84",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f4eaea3a9fb506b6",
        "type": "ui_spacer",
        "z": "71e37dc1588a7bfb",
        "name": "spacer",
        "group": "6acf34f9b48857d0",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "4f0e617de4f241eb",
        "type": "ui_spacer",
        "z": "71e37dc1588a7bfb",
        "name": "spacer",
        "group": "6acf34f9b48857d0",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "352f15a707308edb",
        "type": "ui_spacer",
        "z": "71e37dc1588a7bfb",
        "name": "spacer",
        "group": "6acf34f9b48857d0",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "e12005f45a03fc39",
        "type": "ui_spacer",
        "z": "71e37dc1588a7bfb",
        "name": "spacer",
        "group": "6acf34f9b48857d0",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "9ea6024270a4bb10",
        "type": "ui_spacer",
        "z": "71e37dc1588a7bfb",
        "name": "spacer",
        "group": "6acf34f9b48857d0",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "bcd1be5af464fbe5",
        "type": "ui_spacer",
        "z": "71e37dc1588a7bfb",
        "name": "spacer",
        "group": "6acf34f9b48857d0",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "16810909e43b0cf9",
        "type": "ui_spacer",
        "z": "71e37dc1588a7bfb",
        "name": "spacer",
        "group": "6acf34f9b48857d0",
        "order": 11,
        "width": 6,
        "height": 1
    },
    {
        "id": "6be9b640885de3fa",
        "type": "ui_spacer",
        "z": "71e37dc1588a7bfb",
        "name": "spacer",
        "group": "518e70a6927e9a7a",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "bfaf35ec1a32ac65",
        "type": "ui_spacer",
        "z": "71e37dc1588a7bfb",
        "name": "spacer",
        "group": "518e70a6927e9a7a",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "3e8692339772cee7",
        "type": "ui_spacer",
        "z": "71e37dc1588a7bfb",
        "name": "spacer",
        "group": "518e70a6927e9a7a",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "79f7338d921cfe92",
        "type": "ui_spacer",
        "z": "71e37dc1588a7bfb",
        "name": "spacer",
        "group": "518e70a6927e9a7a",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "420e5b8abbcea14d",
        "type": "teachable machine",
        "z": "71e37dc1588a7bfb",
        "name": "",
        "mode": "online",
        "modelUri": "https://teachablemachine.withgoogle.com/models/zRzCSzICG/",
        "localModel": "teachable_model",
        "output": "best",
        "activeThreshold": false,
        "threshold": 80,
        "activeMaxResults": false,
        "maxResults": 3,
        "passThrough": false,
        "x": 650,
        "y": 240,
        "wires": [
            [
                "465f3cf51a0589d5",
                "a674ab028bfacb37"
            ]
        ]
    },
    {
        "id": "ebc3d679ee012959",
        "type": "ui_webcam",
        "z": "71e37dc1588a7bfb",
        "name": "",
        "group": "6acf34f9b48857d0",
        "order": 3,
        "width": 6,
        "height": 6,
        "countdown": false,
        "autoStart": true,
        "hideCaptureButton": false,
        "showImage": -1,
        "mirror": true,
        "format": "jpeg",
        "x": 440,
        "y": 280,
        "wires": [
            [
                "420e5b8abbcea14d"
            ]
        ]
    },
    {
        "id": "6f93c873734fbd5c",
        "type": "ui_text",
        "z": "71e37dc1588a7bfb",
        "group": "6acf34f9b48857d0",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Text",
        "label": "Prediction: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 260,
        "wires": []
    },
    {
        "id": "465f3cf51a0589d5",
        "type": "function",
        "z": "71e37dc1588a7bfb",
        "name": "trigger next capture",
        "func": "msg.capture=1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 340,
        "wires": [
            [
                "ebc3d679ee012959"
            ]
        ]
    },
    {
        "id": "9da0741f53e6b9c5",
        "type": "inject",
        "z": "71e37dc1588a7bfb",
        "name": "trigger capture",
        "props": [
            {
                "p": "capture",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "ebc3d679ee012959",
                "8822c0e32c67daff"
            ]
        ]
    },
    {
        "id": "8822c0e32c67daff",
        "type": "debug",
        "z": "71e37dc1588a7bfb",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 220,
        "wires": []
    },
    {
        "id": "68172a2d20bad2ba",
        "type": "inject",
        "z": "71e37dc1588a7bfb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Preparing ......",
        "payloadType": "str",
        "x": 240,
        "y": 340,
        "wires": [
            [
                "6f93c873734fbd5c"
            ]
        ]
    },
    {
        "id": "49574a1e44b919c5",
        "type": "inject",
        "z": "71e37dc1588a7bfb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "ebc3d679ee012959",
                "2bf00e9dd5dc858a"
            ]
        ]
    },
    {
        "id": "a674ab028bfacb37",
        "type": "function",
        "z": "71e37dc1588a7bfb",
        "name": "get prediction result",
        "func": "msg.payload = msg.payload[0].class;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 240,
        "wires": [
            [
                "6f93c873734fbd5c",
                "9a6cb985c5b04fd1"
            ]
        ]
    },
    {
        "id": "54821db2f7a332c1",
        "type": "mqtt out",
        "z": "71e37dc1588a7bfb",
        "name": "Remote Control LED",
        "topic": "ghliaw240117/led_control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b944e79875142268",
        "x": 1160,
        "y": 100,
        "wires": []
    },
    {
        "id": "3471adfa7cad1dba",
        "type": "ui_switch",
        "z": "71e37dc1588a7bfb",
        "name": "manual switch",
        "label": "Manual switch",
        "tooltip": "",
        "group": "6acf34f9b48857d0",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 860,
        "y": 100,
        "wires": [
            [
                "54821db2f7a332c1"
            ]
        ]
    },
    {
        "id": "237d47d11f7ea54a",
        "type": "mqtt in",
        "z": "71e37dc1588a7bfb",
        "name": "Get LED Status",
        "topic": "ghliaw240117/led_status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b944e79875142268",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 880,
        "y": 420,
        "wires": [
            [
                "7946e2fe3be74681",
                "848751a4a0fce605"
            ]
        ]
    },
    {
        "id": "2bf00e9dd5dc858a",
        "type": "function",
        "z": "71e37dc1588a7bfb",
        "name": "function 1",
        "func": "flow.set('led_status', 'none');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "9a6cb985c5b04fd1",
        "type": "switch",
        "z": "71e37dc1588a7bfb",
        "name": "check if need remote control",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "led_status",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1180,
        "y": 180,
        "wires": [
            [
                "6d0c7c14df21b184"
            ]
        ]
    },
    {
        "id": "6d0c7c14df21b184",
        "type": "change",
        "z": "71e37dc1588a7bfb",
        "name": "update variable led_status",
        "rules": [
            {
                "t": "set",
                "p": "led_status",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 180,
        "wires": [
            [
                "54821db2f7a332c1"
            ]
        ]
    },
    {
        "id": "7946e2fe3be74681",
        "type": "debug",
        "z": "71e37dc1588a7bfb",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 480,
        "wires": []
    },
    {
        "id": "848751a4a0fce605",
        "type": "ui_led",
        "z": "71e37dc1588a7bfb",
        "order": 6,
        "group": "6acf34f9b48857d0",
        "width": 4,
        "height": 2,
        "label": "LED Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#646464",
                "value": "off",
                "valueType": "str"
            },
            {
                "color": "#00ff00",
                "value": "on",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1070,
        "y": 420,
        "wires": []
    },
    {
        "id": "4cf1d5f0f4cd3f27",
        "type": "ui_gauge",
        "z": "71e37dc1588a7bfb",
        "name": "Temperature",
        "group": "518e70a6927e9a7a",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature(°C)",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#0000b5",
            "#00b500",
            "#b50000"
        ],
        "seg1": "18",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 560,
        "wires": []
    },
    {
        "id": "cd107e66450350cb",
        "type": "mqtt in",
        "z": "71e37dc1588a7bfb",
        "name": "Get Temerature",
        "topic": "ghliaw240117/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b944e79875142268",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 880,
        "y": 560,
        "wires": [
            [
                "4cf1d5f0f4cd3f27"
            ]
        ]
    },
    {
        "id": "7ef0dd35f2e4191e",
        "type": "mqtt in",
        "z": "71e37dc1588a7bfb",
        "name": "Get Humidity",
        "topic": "ghliaw240117/humi",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b944e79875142268",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 620,
        "wires": [
            [
                "9da193037f8bf118"
            ]
        ]
    },
    {
        "id": "9da193037f8bf118",
        "type": "ui_gauge",
        "z": "71e37dc1588a7bfb",
        "name": "Humidity",
        "group": "518e70a6927e9a7a",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "wave",
        "title": "Humidity(%)",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0000b5",
            "#00b500",
            "#b50000"
        ],
        "seg1": "18",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 620,
        "wires": []
    }
]